{% extends 'base.html' %} {% load static %} {% block title %} | About
{%endblock %} {% block content %}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>We Search For The Perfect Home</h2>
        <p class="lead">
          Want a vacation home by the beach? A cottage on the mountains? A condo in the city? We have just the place for you!
        </p>
        <img src="{% static 'img/about.jpg' %}" alt="" />
        <p class="mt-4">
          BT Real Estate has been helping families find new homes for over 15 years. We're a small business with a large portfolio consisting of both newly constructed condos and older homes where you'll be able to live headache free for years to come. We have more than 20 licensed real estate agents ready to assist you on your quest for a dream place.
        </p>
      </div>
      <div class="col-md-4">
        {% if mvp_realtors %} {% for realtor in mvp_realtors %}
        <div class="card">
          <img
            class="card-img-top"
            src="{{ realtor.photo.url }}"
            alt="Seller of the month"
          />
          <div class="card-body">
            <h5 class="card-title">Seller Of The Month</h5>
            <h6 class="text-secondary">{{ realtor.name }}</h6>
            <p class="card-text">
              {{ realtor.description }}
            </p>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">We Work For You</h2>
  <h4>
    You tell us your wishlist and we work to make sure you get everything you asked for.
  </h4>
  <hr />
  <a href="listings.html" class="btn btn-secondary text-white btn-lg"
    >View Our Featured Listings</a
  >
</section>

<!-- Team -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">
      {% if realtors %} {% for realtor in realtors %}
      <div class="col-md-4">
        <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3" />
        <h4>{{ realtor.name }}</h4>
        <p class="text-success">
          <i class="fas fa-award text-success mb-3"></i> Realtor
        </p>
        <hr />
        <p><i class="fas fa-phone"></i> {{ realtor.phone }}</p>
        <p><i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12"><p>No realors available</p></div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
